@import "tailwindcss";

/* *{
    box-sizing: border-box;
}
body{
   background-color: #fff;
}
.container{
text-align: center;
align-items: center;
padding-top: 2rem;
}
main{
    position:fixed;
     bottom:0;
      left:0;
      width: 100%;
      background-color: #fff;
      padding: 1rem;
    box-shadow: #fff 0.5rem;

}
.complePanel{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
button{
    border: none;
    background-color: #fff;
}
.completed{
    text-decoration: line-through;
} */